.modal-buy {
  .ant-modal-content {
    padding: 0;
    // overflow: hidden;
  }
}

.modal-buy-info__price {
  color: $color_green;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.modal-buy-info {
  border-radius: 8px 0 0 8px;
  background: #f5f7fa;
  height: 100%;
  padding: 40px;
  &-item {
    margin-bottom: 8px;
  }
}

.modal-buy-input {
  padding: 40px;
}
.modal-buy-info-item__payment {
  margin-top: 4px;
  margin-left: auto;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  background-color: #e9edf2;
  width: fit-content;
}

.modal-buy-actions {
  margin-top: 140px;
  gap: 16px;
  .ant-btn {
    width: 100%;
    border-color: var(--color-primary);
    background: var(--color-primary);
    padding: 12px 24px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      color: black;
      border-color: var(--color-primary);
    }
  }
  .ant-btn.btn-cancel {
    background: transparent;
    border-color: #d9d9d9;
    &:hover {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
}
.modal-buy__tip {
  margin-top: 12px;
}

.modal-buy-input__fiat-symbol {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background: #84bd7b;
  text-align: center;
}

.modal-buy-input__all {
  padding: 0 4px;
  color: var(--color-primary);
}

.modal-buy-input {
  .form-item {
    border-radius: 8px;
    background-color: #f3f5f7;
    padding: 13px 16px 9px;
  }
  .form-item + .form-item {
    margin-top: 16px;
  }
  .ant-input-affix-wrapper {
    border: none;
    background-color: #f3f5f7;
    padding: 4px 0;
  }
  .ant-input-affix-wrapper-focused {
    box-shadow: none;
  }
  input.ant-input {
    margin-left: 8px;
    background-color: #f3f5f7;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

// Buy Info
.modal-buy-info__avt {
  width: 48px;
  height: 48px;
  color: var(--color-primary);
  background: rgb(247 166 0/12%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  div {
    width: 100%;
    text-align: center;
  }
}

.modal-buy-info__name {
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

// Modal OTP
.modal-otp {
  .ant-modal-content {
    padding: 40px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__action {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
.verify-account {
  text-align: center;
  color: #777e90;

  &__input {
    margin: 30px 0 40px;
    > div {
      display: flex;
      justify-content: space-between;
    }
    .input__wrap-input {
      width: 100%;
      max-width: 47px;
      input {
        width: 100% !important;
        max-width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        padding: 7px 0px;
        background-color: transparent;
        outline: none;
        border: 1px solid #e6e8ec;
        border-radius: 10px;
        height: 60px;
      }
    }

    .input__wrap-input:not(:last-child) {
      margin-right: 3px;
    }

    &--focus {
      color: var(--color-primary);
      border-color: var(--color-primary) !important;
    }
  }

  &__notice {
    text-align: left;
    font-size: 14px;
    &-title {
      font-weight: 500;
      margin-bottom: 15px;
    }
    &-wrap {
      list-style-type: none;
      padding-left: 10px;
      margin-bottom: 40px;
    }
    &-item {
      display: flex;
      align-items: center;
      line-height: 18px;
      position: relative;
      padding-left: 22px;
      color: #777e90;
      &:before {
        content: '';
        height: 4px;
        width: 14px;
        background-color: #777e90;
        display: inline-block;
        border-radius: 2px;
        margin-right: 10px;
        position: absolute;
        top: 7px;
        left: -1px;
      }
    }
  }

  &__resend-btn {
    width: 100%;
    height: 52px;
    font-weight: 600;
    font-size: 15px;
  }

  &__desc {
    font-weight: 500;
    white-space: pre-line;
    a {
      color: #ff0a6c;
    }
  }
}

.modal-otp__resend-code {
  color: var(--color-primary);
}

//
//
// Buy List
//
//
.my-wallet {
  border-radius: 16px;
  background: #fff;
  width: 1200px;
  padding: 64px;
  margin: 32px auto;
}
