// size screen responsive
// Small devices (landscape phones, 576px and up)
// Extra large devices (large desktops, 1200px and up)
// Large devices (desktops, 992px and up)
// Medium devices (tablets, 768px and up)
$breakpoint_mobile_md: 374px;
$breakpoint_mobile_max: 575px;
$breakpoint_tablet_max: 767px;
$breakpoint_desktop_max: 991px;
$breakpoint_small_tablet_max: 1023px;
$breakpoint_ultra_tablet_max: 1151px;
$breakpoint_large_desktop_max: 1199px;
$breakpoint_xl_desktop_max: 1441px;
$breakpoint_ultra_desktop_max: 1600px;
$breakpoint_mega_desktop_max: 1919px;

//color
$color_primary: #f7a600;
$color_secondary: #fdf6e4;
$color_grey: #f4f5f6;

$color_green: #20b26c;
// Common
$box_border: 8px;
$box_border_sm: 4px;
